# https://github.com/julia-actions/cache#usage
name: CI

on: [push, pull_request]

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1.12.4]         # 2026-01-06
        julia-arch: [x64]
        os: [ubuntu-latest]
        include:
          - julia-version: nightly
            os: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: julia-actions/setup-julia@v1
      with:
        version: ${{ matrix.julia-version }}
    - uses: julia-actions/cache@v1
    - uses: julia-actions/julia-buildpkg@v1
    # - uses: julia-actions/julia-runtest@v1

    - name: Pkg.develop, Pkg.status
      run: |
           julia --color=yes -e 'using Pkg; Pkg.develop("Jive"); Pkg.status("Jive")'

    - name: JULIA_TEST_VERBOSE=true
      run: |
           JULIA_TEST_VERBOSE=true julia --color=yes -e 'using Pkg; Pkg.test("Jive"; julia_args=String[], test_args=String[])'

    - name: JET
      if: ${{ matrix.julia-version == '1.12.4' }}
      run: |
           cd test/
           # julia --color=yes -e 'using Pkg; Pkg.add.(("Preferences", "JET")); Pkg.status("Jive"); include("scripts/jet.jl")'
           cd ../

    - name: ARGS to filter the targets
      run: |
           cd test/
           echo "########### julia runtests.jl jive/runtests/testset testjive"
                julia --color=yes --project=.. runtests.jl jive/runtests/testset testjive

           echo "########### julia runtests.jl testjive jive/runtests/testset"
                julia --color=yes --project=.. runtests.jl testjive jive/runtests/testset

           echo "########### julia runtests.jl jive/r start=5"
                julia --color=yes --project=.. runtests.jl jive/r start=5
           cd ../

    - name: runtests(; skip::Vector{String}), JIVE_SKIP
      run: |
           cd test/
           julia --color=yes --project=.. -e 'using Pkg; Pkg.add("ANSIColoredPrinters"); Pkg.activate("..")'
           echo "########### JIVE_SKIP=ExampleRevise,errors,fails,jive/onlyonce/heavy.jl,jive/__END__/included.jl,jive/__REPL__,pkgs  julia runtests.jl"
                             JIVE_SKIP=ExampleRevise,errors,fails,jive/onlyonce/heavy.jl,jive/__END__/included.jl,jive/__REPL__,pkgs  julia --color=yes --project=.. runtests.jl
           cd ../

    - name: runtests(; failfast::Bool), JULIA_TEST_FAILFAST
      run: |
           julia --color=yes -e 'using Pkg; Pkg.develop("Jive"); Pkg.status("Jive")'
           cd test/
           julia --color=yes scripts/expect_failures.jl
           cd ../

    - name: using Revise
      run: |
           cd test/ExampleRevise/test/
           julia --color=yes --project=.. -e 'using Pkg; Pkg.add("Revise"); Pkg.add("Jive"); Pkg.activate("..")'
           julia --color=yes --project=.. -e 'p1 = @async include("revise.jl"); Timer(3) do t; touch("example/test3.jl"); sleep(0.5); rm("example/test3.jl"); sleep(1); exit(0); end; wait(p1)' example
           cd ../../../

    - name: runtests(; enable_distributed::Bool), JIVE_PROCS
      run: |
           julia --color=yes -e 'using Pkg; Pkg.add(split("Jive DaemonMode"))'
           cd test/
           echo "########### julia -pauto runtests.jl"
                           julia --color=yes -pauto -e 'using Jive; runtests(normpath(pathof(Jive), "../../test"))'

           echo "########### julia -pauto runtests(; enable_distributed=false)"
                           julia --color=yes -pauto -e 'using Jive; runtests(normpath(pathof(Jive), "../../test"), enable_distributed=false)'

           echo "########### JIVE_PROCS=auto julia runtests.jl"
           JIVE_PROCS=auto julia --color=yes        -e 'using Jive; runtests(normpath(pathof(Jive), "../../test"))'

           echo "########### JIVE_PROCS=0 julia -pauto runtests.jl"
           JIVE_PROCS=0    julia --color=yes -pauto -e 'using Jive; runtests(normpath(pathof(Jive), "../../test"))'
           cd ../

    - name: pkgs
      run: |
           julia --color=yes --project=. -e 'using Pkg; Pkg.add(split("Jive Aqua TestItems TestItemRunner SafeTestsets TestExtras")); Pkg.add(url="https://github.com/aviatesk/TestRunner.jl", rev="master"); Pkg.activate()'
           cd test/
           julia --color=yes --project=.. runtests.jl pkgs
           julia --color=yes --project=.. pkgs/testitems/testitemrunner.jl
           julia --color=yes --project=.. pkgs/testrunner/runtest.jl
           cd ../


  RunForOldJuliaVersions:
    needs: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1.11.8]         # 2025-12-15
        julia-arch: [x64]
        os: [ubuntu-latest]
        include:
          - julia-version: 1.6.7        # 2022-07-20
            os: ubuntu-latest
          - julia-version: 1.5.4        # 2021-03-11
            os: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/cache@v1
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - name: runtests(; failfast::Bool), JULIA_TEST_FAILFAST
        run: |
             julia --color=yes -e 'using Pkg; Pkg.develop("Jive"); Pkg.status("Jive")'
             cd test/
             julia --color=yes scripts/expect_failures.jl
             cd ../
