# https://github.com/julia-actions/cache#usage
name: CI

on: [push, pull_request]

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1.12.4]         # 2026-01-06
        julia-arch: [x64]
        os: [ubuntu-latest]
        include:
          - julia-version: nightly
            os: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: julia-actions/setup-julia@v1
      with:
        version: ${{ matrix.julia-version }}
    - uses: julia-actions/cache@v1
    - uses: julia-actions/julia-buildpkg@v1
    - uses: julia-actions/julia-runtest@v1

  RunForOldJuliaVersions:
    needs: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1.11.8]         # 2025-12-15
        julia-arch: [x64]
        os: [ubuntu-latest]
        include:
          - julia-version: 1.6.7        # 2022-07-20
            os: ubuntu-latest
          - julia-version: 1.5.4        # 2021-03-11
            os: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/cache@v1
      - uses: julia-actions/julia-buildpkg@v1
      - name: runtests(; failfast::Bool), JULIA_TEST_FAILFAST
        run: |
             julia --color=yes -e 'using Pkg; Pkg.develop("Jive"); Pkg.status("Jive")'
             cd test/
             julia --color=yes scripts/expect_failures.jl
             cd ../
